//
   Created by hsenid on 1/5/16.

script(src='/javascripts/angular/lib/angular.min.js')
script(src="/javascripts/angular/lib/angular-resource.js")
script(src="/javascripts/angular/lib/jquery.min.js")
script(src="/javascripts/angular/modules/angular.js")
script(src="/javascripts/angular/modules/login.js")
script(src="/javascripts/angular/modules/addusers.js")
script(src="/javascripts/angular/modules/viewuser.js")
script(src="/javascripts/angular/lib/angular-route.min.js")
