extends  layout

block content
    .container(ng-controller="indexCtrl")
        br
        .row
            .col-md-4.col-sm-6( ng-repeat="service in ServiceName")
                a.thumbnail(href="#")
                    img(ng-src='{{service.src}}', alt='...')
                    .caption
                        h3 {{service.service}}
                        P {{service.details}}
        .row
